/* Laptop device */
@media screen and (max-width: 1200px) {
  .banner-content h1 {
    font-size: 48px;
  }
  .service-card {
    padding: 80px 20px;
  }

  .story-content {
    width: 100%;
  }
  .story-image img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

}

/* Tablet device */
@media screen and (max-width: 1024px) {
  #banner {
    flex-direction: column-reverse;
    align-items: center;  
  }
  .banner-content {
    width: 100%;
  }
  .banner-image {
    width: 100%;
  }


  .service-card-content {
    flex-direction: column;
   }
  .service-card {
    max-width: 100%;
  }


  .story-content {
    width: 100%;
  }
  .story-card {
    flex-direction: column;
  }
  .story-image {
    width: 100%;
  }


}

/* Mobile device */
@media screen and (max-width: 640px) {
  .banner-content h1 {
    font-size: 36px;
  }

  .heading-content h2 {
    font-size: 32px;
  }
  .btn-color,
  .btn-white {
    padding: 12px 20px;
  }

  #country-card-container {
    flex-direction: column;
  }
  #country-card-container h2 {
    text-align: center;
  }
}
